<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 http://maven.apache.org/xsd/settings-1.2.0.xsd">
  
  <servers>
    <!-- GitHub Packages Authentication -->
    <server>
      <id>github-packages</id>
      <username>Nalla06</username> <!-- Replace with your GitHub username -->
      <password>xxxxxxxxxx</password> <!-- Replace with your GitHub Personal Access Token -->
    </server>
  </servers>

  <profiles>
    <profile>
      <repositories>
        <!-- GitHub Maven Repository -->
        <repository>
          <id>github-packages</id>
          <url>https://maven.pkg.github.com/Nalla06/my-artifacts-repo</url> <!-- Replace with your GitHub repository URL -->
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>github-packages</id>
          <url>https://maven.pkg.github.com/Nalla06/my-artifacts-repo</url> <!-- Replace with your GitHub repository URL -->
        </pluginRepository>
      </pluginRepositories>
      <id>github</id>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>github</activeProfile>
  </activeProfiles>

</settings>
